In [1]:
import numpy as np
import pandas as pd

#Importing modules
from modules import importData as importModule
from modules import verifyData as verifyModule

### Module - 1

importing data from https://perso.telecom-paristech.fr/eagan/class/igr204/data/happiness.csv using importModule

In [2]:
df_new = importModule.importData('https://perso.telecom-paristech.fr/eagan/class/igr204/data/happiness.csv')

In [3]:
df_new.head()

  Country  Gender  Mean    N=
0      AT    Male   7.3   471
1     NaN  Female   7.3   570
2     NaN    Both   7.3  1041
3      BE    Male   7.8   468
4     NaN  Female   7.8   542

In [4]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 4 columns):
Country    35 non-null object
Gender     105 non-null object
Mean       105 non-null float64
N=         105 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.4+ KB

### Module - 2

using verifyModule to check if the data imported correctly validates the data loaded into the data frame

In [5]:
verifyModule.test_create_dataframe(df_new,['Country','Gender','Mean','N='],[np.object,np.object,np.float64,np.int])

True

checking if verifyModule works when you rearrange column names

In [6]:
verifyModule.test_create_dataframe(df_new,['Mean','N=','Country','Gender'],[np.float64,np.int,np.object,np.object])

True

checking if verifyModule returns false when the column names are not as expected

In [7]:
verifyModule.test_create_dataframe(df_new,['A','N=','Country','Gender'],[np.float64,np.int,np.object,np.object])

Column name mismatch

False

checking if verifyModule returns false when the column numbers are not as expected

In [8]:
verifyModule.test_create_dataframe(df_new,['A','N=','Country'],[np.float64,np.int,np.object,np.object])

Column number mismatch

False

checking if verifyModule returns false when datatypes are not as expected

In [9]:
verifyModule.test_create_dataframe(df_new,['Mean','N=','Country','Gender'],[np.object,np.int,np.object,np.object])

Data type mismatch

False

checking if verifyModule returns false when minimum number of rows are not 10

In [10]:
verifyModule.test_create_dataframe(df_new.head(5),['Mean','N=','Country','Gender'],[np.float64,np.int,np.object,np.object],nRows=10)

Minimum number of rows criterion not met

False